<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Wellsfargo_Test" thread-count="1" verbose="1" allow-return-values="true" parallel="true" data-provider-thread-count="10" junit="false" configfailurepolicy="skip" skipfailedinvocationcounts="false">
<!--    <listeners> -->
<!--     <listener class-name="org.uncommons.reportng.HTMLReporter"/> -->
<!--     <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/> -->
<!--     <listener class-name="org.testng.reporters.FailedReporter"/> -->
    
<!--    </listeners>    -->
 
    <!--sysproperty key="org.uncommons.reportng.title" value="My Test Report"/-->
  
   
      <test name="wellsfargo">
   			<parameter name="remoteBrowserType" value="Chrome"/>
   			<sysproperty key="org.uncommons.reportng.escape-output" value="false"/>
  			<sysproperty key="org.uncommons.reportng.title" value="Wellsfargo"/>
			<classes>
			<class name="com.wellsfargo.test.HomeLendingTests"/>
	</classes>
   </test>
    <!-- Test -->  
    
</suite> <!-- regression -->



